# Reference: https://docs.docker.com/reference/compose-file/services/
# https://www.youtube.com/watch?v=DQdB7wFEygo&t=135s

services:
  webmart_api:
    build: ./webmart_api
    container_name: webmart_api
    ports:
      - "8000:8000"
    depends_on:
      - webmart_db
    volumes:
      - ./webmart_api:/app
    env_file:
      - ./webmart_api/.env
    # https://stackoverflow.com/questions/29663459/why-doesnt-python-app-print-anything-when-run-in-a-detached-docker-container
    environment:
      - PYTHONUNBUFFERED=1
    restart: on-failure:3
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "4000:4000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: on-failure
  webmart_seller:
    build: ./webmart_seller
    container_name: webmart_seller
    ports: 
      - "3000:3000"
    volumes:
      - type: bind
        source: ./webmart_seller
        target: /app
      - /app/node_modules
    restart: on-failure:3
  webmart_db:
    image: postgres:15.3-bullseye
    container_name: webmart_db
    environment:
      - POSTGRES_DB=webmart
      - POSTGRES_USER=webmart_user
      - POSTGRES_PASSWORD=webmartpassword
      - PGUSER=webmart_user
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  
volumes:
  pg_data:





    
